@mixin clear-after
{
    content:".";
    display:block;
    line-height:0px;
    visibility:hidden;
    clear:both;
}

body
{
    background-color: #FFFFFF;
    font-family: Arial, Verdana, Tahoma, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

h4
{
    margin:0px;
}

input
{
    padding:5px;
}

.watermarked
{
    font-style: italic;
}

label.inputToolTip
{
    position:absolute;
    text-indent:5px;
}

div.page 
{
    width:100%;
}

div#menu
{
    float:left;
    &:after {@include clear-after;}

    ul
    {
        list-style-type:none;
        margin:3px;
        padding:0px;
        li
        {
            padding:5px;
            margin:2px;
            border:1px solid #CCCCCC;
            border-radius:2px;
            display: inline;
            a
            {
                text-decoration:none;
                color: #555555;
                font-weight:bold;
            }
        }
    }
}

div#title
{
    display:block;
    float:left;
}

div#menuHolder
{
    border-bottom:2px solid #CCCCCC;
    padding:10px;
    height:40px;
}

div#cardForm
{
    
}

div#cardForm:after
{
    @include clear-after;
}

$laneWidth: 220px;
$cardHeight: 100px;
$cardWidth: $laneWidth - 10;

.boardLaneContainer 
{
    float:left;
    border-right:2px dashed #DDDDDD;
    text-align:center;
}

.boardLaneContainer .laneName
{
    margin-top:10px;
}

ul.boardLane
{
    list-style-type: none; 
    margin: 0; 
    padding: 5px; 
    width: $laneWidth;
}
ul.boardLane li 
{
    margin: 5px;
    width: $cardWidth;
}

.laneCard
{
    height: $cardHeight;
    border:solid 2px #DDDDDD;
    background-color:#FFFFFF;
    color:#000000;
    text-align:left;
}

.laneCardDrop
{
    height: $cardHeight;
    border:solid 2px #666;
    background-color:#F9772B;
}

div.cardHeader 
{
    padding:3px;
    width:$cardWidth - 6;
    background:#DDD;
    font-size:14px;
    border-bottom:solid 1px #DDDDDD;
}

div.cardDetails
{
    padding:3px;
    width:$cardWidth - 6;
    font-size:12px;
}

div#inlineFormHolder
{
    clear:both;
    background-color:#EEEEEE;
}

.cardEditTransfer
{
    border:solid 1px #333;
}

#editCardForm
{
    height:120px;   
}