@resource gleanBoard.Resources.Home

<!DOCTYPE html>
<html>
<head>
    <title>@Resource.Title</title>
    <link href="/assets/Site.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-1.4.1.min.js"" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <img src="/assets/images/logo.gif" alt="Logo" />
            </div>

            <div id="logindisplay">
                <a href="/login">LOGIN</a>
            </div>

            <div id="menucontainer">
                <ul id="menu">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/features">FEATURES</a></li>
                    <li><a href="/demo">DEMO</a></li>
                    <li><a href="/signup">SIGN UP</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            Hey Travis!
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>