@mixin clear-after
{
    content:".";
    display:block;
    line-height:0px;
    visibility:hidden;
    clear:both;
}

body
{
    background-color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

div.page 
{
    width:100%;
}

div#menu
{
    float:left;
}
 
div#menu:after
{
    @include clear-after;
}
        
div#menu ul
{
    list-style-type:none;
    margin:3px;
    padding:0px;
}
div#menu ul li
{
    padding:3px;
    margin:2px;
    border:1px solid #CCCCCC;
    border-radius:2px;
    display: inline;
}

div#title
{
    display:block;
    float:left;
}

div#menuHolder
{
    border-bottom:2px solid #CCCCCC;
    padding:10px;
    height:40px;
}

div#cardForm
{
    float:left;
}

div#cardForm:after
{
    @include clear-after;
}

$laneWidth: 220px;
$cardHeight: 100px;
$cardWidth: $laneWidth - 10;

.boardLaneContainer 
{
    float:left;
    border-right:2px dashed #DDDDDD;
    text-align:center;
}

.boardLaneContainer .laneName
{
    margin-top:10px;
}

ul.boardLane
{
    list-style-type: none; 
    margin: 0; 
    padding: 5px; 
    padding: 5px;
    width: $laneWidth;
}
ul.boardLane li 
{
    margin: 5px;
    width: $cardWidth;
}

.laneCard
{
    height: $cardHeight;
    border:solid 2px #999999;
    background-color:#FFFFFF;
    color:#000000;
    text-align:left;
    border-radius:5px;
}

.laneCardDrop
{
    height: $cardHeight;
    border:solid 2px #666666;
    background-color:orange;
    border-radius:5px;
}

div.cardHeader 
{
    padding:3px;
    width:$cardWidth - 6;
    background:#DDD;
    font-size:12px;
    border-bottom:solid 1px #AAA;
}

div.cardDetails
{
    padding:3px;
    width:$cardWidth - 6;
    font-size:10px;
}